name: PlatformIO CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/pip
            ~/.platformio/.cache
          key: ${{ runner.os }}-pio
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install PlatformIO Core
        run: pip install --upgrade platformio

      - name: Build PlatformIO Project
        run: pio run

      - name: Rename bin file 
        run: mv .pio/build/m5cardputer/firmware.bin LoRaChat.bin    

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4.3.1
        with:
          name: CardputerLoRaChat
          path: LoRaChat.bin
          if-no-files-found: error
